footer
    .container.footer-links 
        ul 
            li O EFIL 
            li
                a(href='#') O nás
            li
                a(href='#') Žhavé novinky
            li
                a(href='#') Pro novináře
            li
                a(href='#') Pracujte u nás
            li
                a(href='#') Dokumenty
            li
                a(href='#') Kontakty
        ul 
            li Nabídka
            li
                a(href='#') Cestovní pojištění
            li
                a(href='#') Osobní pojištění
            li
                a(href='#') Pojištění půjčky
        ul 
            li Podpora 
            li
                a(href='#') Kurzovní lístek
            li
                a(href='#') Poradna
            li
                a(href='#') Pokračovat v žádosti
            li
                a(href='#') Bezpečnost a soukromí
            li
                a(href='#') Reklamační řád
            li
                a(href='#') Obchodní podmínky
            li
                a(href='#') Nastavení cookies
        ul 
            li Účet
            li
                a(href='/prihlasit-se') Můj účet
            li
                a(href='/registrovat-se') Stát se klientem
        ul 
            li Sledujte nás
            .flex.align-item-center 
                li.mr-2 
                    a(href='#')
                        img(src='/img/svg/ic-twitter.svg')
                li.mr-2 
                    a(href='#')
                        img(src='/img/svg/ic-facebook.svg')
                li 
                    a(href='#')
                        img(src='/img/svg/ic-instagram.svg')
    .footer-text 
        p IČO 00000 / Ulešická 368/8, 100 00 Praha 0, zapsaná u rejstříkového soudu v Praze — spisová značka W 123456
