header.border-bottom-light-grey.main-header 
    .container.header.flex.align-item-center 
        .header-col-left.flex.align-item-center 
            a.mr-4(href='/rozcestnik')
                img(src='/img/svg/logo-Efil.svg')
            nav
                ul.navbar.flex
                    li.nav-item 
                        a.nav-link(href='/sprava-pojistencu') Správa pojištěnců
                    li.nav-item 
                        a.nav-link(href='/sprava-pojisteni') Správa pojištění
                    li.nav-item 
                        a.nav-link(href='/o-aplikaci') O aplikaci
        .header-col-right 
            a.flex.align-item-center.link-logout(href='#')
                img.mr-1(src='/img/svg/ic-logout.svg')
                | Odhlásit se