extends base

block content
    main.container
        section
            .flex.align-item-center.section-title-signpost
                h1.title Rozcestník 
            .mb-5 
                a.btn-md-white.mr-3(href='/sprava-pojistencu') Správa pojištěnců
                a.btn-md-white(href='/sprava-pojisteni') Správa pojištění